@import url(http://db.onlinewebfonts.com/c/65482afbeb61af43c403d0fec1fdb679?family=Neo+Sans+Pro);

body {
    font-size: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 5.1225rem;
}

h2 {
    font-size: 4.325rem;
}

h3 {
    font-size: 4.025rem;
}

h4 {
    font-size: 1.525rem;
}

a {
    text-decoration: none;
    color: #000;
}