@import url(http://db.onlinewebfonts.com/c/65482afbeb61af43c403d0fec1fdb679?family=Neo+Sans+Pro);

body {
    font-size: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 5.1225rem;
}

h2 {
    font-size: 3.125rem;
}

h3 {
    font-size: 2.825rem;
}

h4 {
    font-size: 2.225rem;
}

h5 {
    font-size: 1.425rem;
}

a {
    text-decoration: none;
    color: #000;
}

ol,
ul {
    list-style: none
}

/* Header - Navigation - Landing */

.landing-p {
    background: linear-gradient(135deg, #172a74, #21a9af);
    background-color: #184e8e;
    padding-bottom: 80px;
    font-family: 'Lato', sans-serif;
}

@media (min-width:768px) {
    .landing-p {
        padding-bottom: 120px;
    }
}

.landing-p .navbar {
    background: transparent;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

@media (min-width:768px) {
    .landing-p .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.landing-p .navbar .navbar-brand {
    font-weight: bold;
    color: inherit;
}

.landing-p .navbar .navbar-brand:hover {
    color: #f0f0f0;
}

.landing-p .navbar .navbar-collapse {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: .5rem;
}

@media (min-width:768px) {
    .landing-p .navbar .navbar-collapse {
        border-color: transparent;
        margin: 0;
    }
}

.landing-p .navbar .navbar-collapse span .login {
    color: #d9d9d9;
    margin-right: .5rem;
    text-decoration: none;
}

.landing-p .navbar .navbar-collapse span .login:hover {
    color: #fff;
}

.landing-p .navbar .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.3);
}

.landing-p .navbar .navbar-toggler:hover,
.landing-p .navbar-toggler:focus {
    background: none;
}

.landing-p .navbar .navbar-nav a.active,
.landing-p .navbar .navbar-nav>.show .dropdown-item {
    background: none;
    box-shadow: none;
}

@media (min-width: 768px) {
    .landing-p .navbar-nav .nav-link {
        padding-left: .7rem;
        padding-right: .7rem;
    }
}

@media (min-width: 992px) {
    .landing-p .navbar-nav .nav-link {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}

.landing-p .navbar .navbar-nav>li>.dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    background-color: #fff;
    border-radius: 2px;
}

.landing-p .navbar .dropdown-menu .dropdown-item:focus,
.landing-p .navbar .dropdown-menu .dropdown-item {
    line-height: 2;
    color: #37434d;
}

.landing-p .navbar .dropdown-menu .dropdown-item:focus,
.landing-p .navbar .dropdown-menu .dropdown-item:hover {
    background: #ebeff1;
}

.landing-p .action-button,
.landing-p .action-button:not(.disabled):active {
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 40px;
    color: #ebeff1;
    box-shadow: none;
    text-shadow: none;
    padding: .3rem .8rem;
    background: transparent;
    transition: background-color 0.25s;
    outline: none;
}

.landing-p .action-button:hover {
    color: #fff;
}

.landing-p .navbar .form-inline label {
    color: #d9d9d9;
}

.landing-p .navbar .form-inline .search-field {
    display: inline-block;
    width: 80%;
    background: none;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    color: #ccc;
    box-shadow: none;
    color: inherit;
    transition: border-bottom-color 0.3s;
}

.landing-p .navbar .form-inline .search-field:focus {
    border-bottom: 1px solid #ccc;
}

.landing-p .hero {
    margin-top: 20px;
    text-align: center;
}

@media (min-width:768px) {
    .landing-p .hero {
        margin-top: 60px;
        text-align: left;
    }
}

.landing-p .hero h1 {
    color: #fff;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.4;
}

@media (min-width:992px) {
    .landing-p .hero h1 {
        margin-bottom: 24px;
    }
}

.landing-p .hero p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300;
}

.landing-p .phone-holder {
    text-align: right;
}

.landing-p div.iphone-mockup {
    position: relative;
    max-width: 300px;
    margin: 20px;
    display: inline-block;
}

.landing-p .iphone-mockup img.device {
    width: 100%;
    height: auto;
}

.landing-p .iphone-mockup .screen {
    position: absolute;
    width: 88%;
    height: 77%;
    top: 12%;
    border-radius: 2px;
    left: 6%;
    border: 1px solid #444;
    background-color: #aaa;
    overflow: hidden;
    background: url(../../assets/img/screen-content-iphone-6.jpg);
    background-size: cover;
    background-position: center;
}

.landing-p .iphone-mockup .screen:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 140%;
    top: -12%;
    right: -60%;
    transform: rotate(-19deg);
    opacity: 0.2;
}

.btn.btn-light.btn-lg.action-button.main {
    border-radius: 4px;
}

/* Shared Components */

.hero-canvas {}

.hero-head {
    font-weight: 900;
}

#master .keylines-canvas {
    margin: 40px 0;
}

#master .keylines-canvas .keylines {
    color: #fff;
    font-weight: 400;
}

#master .keylines-canvas .keylines span {
    display: block;
    margin-bottom: 0.125em;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0
}

#master .keylines-canvas.animation-go .keylines span {
    -webkit-animation: keylinesRise;
    animation: keylinesRise;
    -webkit-animation-duration: 1400ms;
    animation-duration: 1400ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms
}

#master .keylines-canvas.animation-go .keylines span:nth-of-type(2) {
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms
}


#master .keylines-canvas.animation-go .keylines span:nth-of-type(3) {
    -webkit-animation-delay: 700ms;
    animation-delay: 700ms
}


.hero-content {
    align-self: center;

}

.features-boxed {
    color: #313437;
    /*background-color: #eef4f7;*/
}

.features-boxed p {
    color: #7d8285;
}

.features-boxed h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

@media (max-width:767px) {
    .features-boxed h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.features-boxed .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}

.features-boxed .intro p {
    margin-bottom: 0;
}

.features-boxed .features {
    padding: 50px 0;
}

.features-boxed .item {
    text-align: center;
}

.features-boxed .item .box {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 30px;
}

.features-boxed .item .icon {
    font-size: 60px;
    color: #1485ee;
    margin-top: 20px;
    margin-bottom: 35px;
}

.features-boxed .item .name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 0;
    color: inherit;
}

.features-boxed .item .description {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.content-canvas {
    padding: 30px 0;
}

/* Button - Components */
.btn-canvas a {
    color: #fff;
    font-weight: 500;
}

.btn-main {
    background: #F24405;
    border-color: #F24405;
    font-size: 1.125rem;
    width: 300px;
    text-transform: uppercase;
}

/* Section - About */
#about {
    padding: 66px 0 0px 0;
}

#about .about-primary-canvas {
    text-align: center;
    padding: 80px 0;
}

#about .subhead-txt {
    text-transform: uppercase;
    font-size: .85rem;
}

#about .head-prime {
    font-weight: 900;
}

#about .head-prime span {
    display: block;
}

#about .about-prime-head .head-prime span:last-of-type {
    color: #F24405;
    transform: translateY(0.5em);
    opacity: 0;
}

#about .about-prime-head.animation-go .head-prime span:last-of-type {
    -webkit-animation: animRise;
    animation: animRise;
    -webkit-animation-duration: 1400ms;
    animation-duration: 1400ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
}

#about .about-prime-txt {
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 1.5;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;

}

@media (min-width: 576px) {
    #about .about-prime-txt {
        width: 80%;
    }
}

#about .about-second-canvas {
    padding: 80px 0
}


#about .head-second {
    font-weight: 900;
}

#about .head-second span {
    display: block;
}

#about .about-second-head .head-second span:last-of-type {
    opacity: 0;
}

#about .about-second-head.animation-go .head-second span:last-of-type {
    -webkit-animation: animEaseLeft;
    animation: animEaseLeft;
    -webkit-animation-duration: 3400ms;
    animation-duration: 3400ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 50ms;
    animation-delay: 50ms;
}

#about .about-second-txt {
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 40px;

}



#about .about-pts {
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 1.5;
    margin: 0 auto;
}

#about .pts-canvas {
    display: block;
    padding: 0px 16px;
}

#about .pts-content {
    display: flex;
    margin-top: 30px;
    padding-bottom: 20px;
}

#about .pts-content-icon_container {
    height: 50px;
    margin: 0 20px 0 0;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

#about .pts-content-txt_container {
    display: grid;
    align-items: center;
}

#about .pts-content_label {
    font-size: 1.225rem;
    font-weight: 400;
}



/* Section - Challenges */

#challenges {
    padding: 88px 0 0px 0;
}

#challenges .about-primary-canvas {
    text-align: center;
    padding: 80px 0;
}

#challenges .challenge-head_container {
    display: grid;
    justify-items: left;
}

#challenges .subhead-txt {
    text-transform: uppercase;
    font-size: .85rem;
}

#challenges .grid-wrapper_content {
    display: grid;
    justify-content: center;
    align-items: center;
}



#challenges .about-pts {
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 1.5;
    margin: 0 auto;
}

/* Section - Approach */

#approach {
    display: block;
    padding: 0;
    z-index: 3;
}

.approach-canvas {
    position: relative;
    overflow: hidden;
    display: flex;
    z-index: 1;
    align-items: start;
    padding: 88px 0 120px 0;
}

#approach .subhead-txt {
    text-transform: uppercase;
    font-size: .85rem;
}

#approach .content-body {
    display: grid;
}

[name="approach-header"] .content-body {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2.27%;
    grid-template-rows: auto auto auto 112px;
}

[name="approach-header"] .subhead-txt {
    grid-column: 1/12;
}

[name="approach-header"] .hero-head {
    grid-column: 1/12;
}

[name="approach-header"] .app-content-txt {
    grid-column: 1/12;
}

#approach .icon {
    font-size: 40px;
    margin-bottom: 0.5rem;
    text-align: center;
}

#approach .subtitle {
    margin-bottom: 0.5rem;
    text-align: center;
}

#approach .description {
    text-align: center;
}

#approach .btn-circle {
    grid-column-start: 11;
    align-items: center;
    align-self: end;
}

[name="approach-header"] .img-canvas {
    display: flex;
    justify-content: flex-end;
    width: 49%;
    position: relative;
    z-index: 2;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);

}

[name="approach-header"] .img-canvas .approach-img {
    width: 90%;
    height: auto;

}



[name="approach-header"] .img-canvas.animation-go .approach-img {
    -webkit-animation: transitionLeft;
    animation: transitionLeft;
    -webkit-animation-duration: 3400ms;
    animation-duration: 3400ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 50ms;
    animation-delay: 50ms;
}

[name="approach-header"] .approach-canvas .media {
    width: 49%
}

.approach-canvas.mirrored .media {
    order: 1
}

.approach-canvas.mirrored .prose {
    order: 2;
    text-align: center;
}




[name="approach-header"] .approach-content_container {
    display: flex;
    position: relative;
    background: #3498db;
    color: white;
    width: 51%;
    z-index: 1;
    transform: translateY(10em);
}

[name="approach-header"] .approach-content_container.animation-go {
    -webkit-animation: animSlideUp;
    animation: animSlideUp;
    -webkit-animation-duration: 3400ms;
    animation-duration: 3400ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
}

[name="approach-header"] .approach-content_container .fill-area {
    padding: 17% 0 0 0;
}

#approach .fill-area .content-body {
    margin-right: calc((90vw - calc(992 * 1px)) / 2);
    margin-left: 20%;
}

@media (max-width: 1142px) {
    [name="approach-header"] .approach-content_container .content-body {
        margin-right: calc((100vw * 0.13) / 2);
    }
}

@media (max-width: 1099px) {
    [name="approach-header"] .approach-content_container .content-body {
        margin-left: 15%;
    }
}

@media (max-width: 850px) {
    [name="approach-header"] .approach-content_container .content-body {
        margin-left: 11%;
    }
}

[name="approach-header"] .app-content-txt {
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 1.6;
}

[name="approach-header"] .approach-content_container .fill-area:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10px;
    background: #3498db;
    height: 100%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-box-shadow: 2px 0 0 #3498db;
    box-shadow: 2px 0 0 #3498db;
    width: 13%;
}


@media (max-width: 760px) {
    [name="approach-header"] .approach-canvas {
        display: block;
    }

    [name="approach-header"] .img-canvas .approach-img {
        width: calc(100vw - 7.5%);
    }

    [name="approach-header"] .approach-content_container {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: calc(100% - 7.5%);
        margin-left: 7.5%;
        transform: translateX(4rem);

    }

    [name="approach-header"] .approach-content_container .fill-area {
        padding: 4% 0 19%;
    }

    [name="approach-header"] .approach-content_container .fill-area:before {
        display: none;
    }

    [name="approach-header"] .approach-content_container .fill-area:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        background: #3498db;
        height: 70px;
        height: 33%;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        width: 100%;
        -webkit-box-shadow: 0 2px 0 #3498db;
        box-shadow: 0 2px 0 #3498db;
    }
}

[name="approach-header"] .approach-content_container .content {
    margin: 0;
    margin-right: 10%;
    margin-left: 7%;
}
}

@media (max-width: 760px) and (min-width: 570px) {
    [name="approach-header"] .approach-content_container .fill-area {
        padding: 0 0 13%;
    }

    [name="approach-header"] .approach-content_container .fill-area:after {
        height: 60%;
    }
}

@media (max-width: 760px) {
    [name="approach-header"] .subhead-txt {
        margin-top: 20px;
        grid-column: 1/12;
    }

    [name="approach-header"] .hero-head {
        grid-column: 1/6;
    }

    [name="approach-header"] .app-content-sm {
        grid-column: 1/8;
    }
}

/* Section - Technology */
#technology {
    padding: 88px 0 0 0;
}

#technology .tech-head_container {
    display: grid;
    justify-items: center;
}

/* Section - Projects */
#projects {
    padding: 88px 0 0 0;
}

/* Project - Project Components */
.highlight-phone {
    color: #313437;
    background-color: #eef4f7;
    padding: 50px 0 55px;
    overflow: hidden;
}

@media (max-width:767px) {
    .highlight-phone {
        text-align: center;
    }
}

.highlight-phone p {
    color: #7d8285;
}

.highlight-phone h2 {
    font-weight: bold;
    margin-bottom: 35px;
    line-height: 1.5;
    padding-top: 0;
    margin-top: 0;
    color: inherit;
}

.highlight-phone .intro {
    font-size: 18px;
    max-width: 500px;
    line-height: 1.5;
}

@media (max-width:767px) {
    .highlight-phone .intro {
        max-width: none;
    }
}

.highlight-phone .intro p {
    margin-bottom: 35px;
}

.highlight-phone .intro .btn {
    padding: 16px 32px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
}

.highlight-phone .intro .btn:hover {
    opacity: 1;
}

.highlight-phone .intro .btn:active {
    transform: translateY(1px);
}

.highlight-phone .intro .btn-primary {
    background-color: #055ada;
    color: #fff;
}

.highlight-phone .iphone-mockup {
    position: relative;
    max-width: 260px;
    margin-top: -30px;
    margin-bottom: -230px;
    transform: rotate(-15deg);
}

.highlight-phone .iphone-mockup img.device {
    width: 100%;
    height: auto;
}

.highlight-phone .iphone-mockup .screen {
    position: absolute;
    width: 88%;
    height: 77%;
    top: 12%;
    border-radius: 2px;
    left: 6%;
    border: 1px solid #444;
    background-color: #aaa;
    overflow: hidden;
    background: url(../../assets/img/screen-content-iphone-6.jpg);
    background-size: cover;
    background-position: center;
}

.highlight-phone .iphone-mockup .screen:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 140%;
    top: -12%;
    right: -60%;
    transform: rotate(-19deg);
    opacity: 0.2;
}



/* Section - Team */
#team {
    padding: 80px 0 0 0;
}

/* Team - Profile Components */
.team-clean {
    color: #313437;
    background-color: #fff;
}

.team-clean p {
    color: #7d8285;
}

.team-clean h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

@media (max-width:767px) {
    .team-clean h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.team-clean .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}

.team-clean .intro p {
    margin-bottom: 0;
}

.team-clean .people {
    padding-bottom: 40px;
}

.team-clean .item {
    text-align: center;
    padding-top: 50px;
}

.team-clean .item .name {
    font-weight: bold;
    margin-top: 28px;
    margin-bottom: 8px;
    color: inherit;
}

.team-clean .item .title {
    text-transform: uppercase;
    font-weight: bold;
    color: #d0d0d0;
    letter-spacing: 2px;
    font-size: 13px;
}

.team-clean .item .description {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.team-clean .item img {
    max-width: 160px;
}

.team-clean .social {
    font-size: 18px;
    color: #a2a8ae;
}

.team-clean .social a {
    color: inherit;
    margin: 0 10px;
    display: inline-block;
    opacity: 0.7;
}

.team-clean .social a:hover {
    opacity: 1;
}


/* Footer - Contact */
.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}







/* Animations - Keylines */

@-webkit-keyframes keylinesRise {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1
    }
}

@keyframes keylinesRise {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1
    }
}

/* Animations - Taglines */

@-webkit-keyframes animRise {
    0% {
        opacity: 0;
        -webkit-transform: translateY(0.5em);
        transform: translateY(0.5em)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes animRise {
    0% {
        opacity: 0;
        -webkit-transform: translateY(0.5em);
        transform: translateY(0.5em)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes animSlideUp {
    0% {
        -webkit-transform: translateY(10em);
        transform: translateY(10em)
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes animSlideUp {
    0% {
        -webkit-transform: translateY(10em);
        transform: translateY(10em)
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

/* Amimation - Ease Left */

@-webkit-keyframes animEaseLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(5rem);

    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);

    }
}

@keyframes animEaseLeft {
    0% {
        opacity: 0;
        transform: translateX(5rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animation - Slide Left */

@-webkit-keyframes transitionLeft {
    0% {
        -webkit-transform: translateX(6rem);
        -webkit-box-shadow: 0 60px 120px rgba(0, 0, 0, 0.4);
        box-shadow: 0 60px 120px rgba(0, 0, 0, 0.4);
    }

    100% {
        -webkit-transform: translateX(0);
        -webkit-box-shadow: 0 60px 120px rgba(0, 0, 0, 0);
        box-shadow: 0 60px 120px rgba(0, 0, 0, 0);
    }
}

@keyframes transitionLeft {
    0% {
        transform: translateX(4rem);
        -webkit-box-shadow: 0 60px 120px rgba(0, 0, 0, 0.4);
        box-shadow: 0 60px 120px rgba(0, 0, 0, 0.4);
    }

    100% {
        transform: translateX(0);
        -webkit-box-shadow: 0 60px 120px rgba(0, 0, 0, 0);
        box-shadow: 0 60px 120px rgba(0, 0, 0, 0);
    }
}